@import "tailwindcss";

/* seus estilos próprios podem ficar abaixo, se quiser */


/* Se quiser, estilos próprios abaixo */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}



